--
-- PostgreSQL database dump
--

\restrict vZlXtGbrsYperymPvk3Vh0fqeVnq6IV9mzcJKgAyX1Q0L2A8jB8L7Uqkvmd446F

-- Dumped from database version 15.15
-- Dumped by pg_dump version 15.15

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: addresses; Type: TABLE; Schema: public; Owner: etnair_user
--

CREATE TABLE public.addresses (
    id integer NOT NULL,
    street character varying(255) NOT NULL,
    city character varying(100) NOT NULL,
    postal_code character varying(20) NOT NULL,
    country character varying(100) NOT NULL
);


ALTER TABLE public.addresses OWNER TO etnair_user;

--
-- Name: audit_logs; Type: TABLE; Schema: public; Owner: etnair_user
--

CREATE TABLE public.audit_logs (
    id integer NOT NULL,
    user_id integer,
    action character varying(200),
    details text,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.audit_logs OWNER TO etnair_user;

--
-- Name: favorites; Type: TABLE; Schema: public; Owner: etnair_user
--

CREATE TABLE public.favorites (
    id integer NOT NULL,
    user_id integer NOT NULL,
    rental_id integer NOT NULL
);


ALTER TABLE public.favorites OWNER TO etnair_user;

--
-- Name: invoices; Type: TABLE; Schema: public; Owner: etnair_user
--

CREATE TABLE public.invoices (
    id integer NOT NULL,
    reservation_id integer NOT NULL,
    pdf_url character varying(500),
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.invoices OWNER TO etnair_user;

--
-- Name: login_attempts; Type: TABLE; Schema: public; Owner: etnair_user
--

CREATE TABLE public.login_attempts (
    id integer NOT NULL,
    user_id integer,
    ip_address character varying(100),
    success boolean,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.login_attempts OWNER TO etnair_user;

--
-- Name: messages; Type: TABLE; Schema: public; Owner: etnair_user
--

CREATE TABLE public.messages (
    id integer NOT NULL,
    sender_id integer NOT NULL,
    receiver_id integer NOT NULL,
    rental_id integer,
    content text NOT NULL,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.messages OWNER TO etnair_user;

--
-- Name: notifications; Type: TABLE; Schema: public; Owner: etnair_user
--

CREATE TABLE public.notifications (
    id integer NOT NULL,
    user_id integer NOT NULL,
    content text NOT NULL,
    is_read boolean DEFAULT false,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.notifications OWNER TO etnair_user;

--
-- Name: payments; Type: TABLE; Schema: public; Owner: etnair_user
--

CREATE TABLE public.payments (
    id integer NOT NULL,
    reservation_id integer NOT NULL,
    amount numeric(10,2) NOT NULL,
    method character varying(50),
    status character varying(50),
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.payments OWNER TO etnair_user;

--
-- Name: rental_calendar; Type: TABLE; Schema: public; Owner: etnair_user
--

CREATE TABLE public.rental_calendar (
    id integer NOT NULL,
    rental_id integer NOT NULL,
    date date NOT NULL,
    is_available boolean DEFAULT true
);


ALTER TABLE public.rental_calendar OWNER TO etnair_user;

--
-- Name: rental_images; Type: TABLE; Schema: public; Owner: etnair_user
--

CREATE TABLE public.rental_images (
    id integer NOT NULL,
    rental_id integer NOT NULL,
    image_url character varying(500) NOT NULL,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.rental_images OWNER TO etnair_user;

--
-- Name: rentals; Type: TABLE; Schema: public; Owner: etnair_user
--

CREATE TABLE public.rentals (
    id integer NOT NULL,
    owner_id integer NOT NULL,
    address_id integer NOT NULL,
    title character varying(200) NOT NULL,
    description text NOT NULL,
    price_per_night numeric(10,2) NOT NULL,
    cleaning_fee numeric(10,2),
    max_guests integer NOT NULL,
    rules text,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.rentals OWNER TO etnair_user;

--
-- Name: reservations; Type: TABLE; Schema: public; Owner: etnair_user
--

CREATE TABLE public.reservations (
    id integer NOT NULL,
    rental_id integer NOT NULL,
    tenant_id integer NOT NULL,
    start_date date NOT NULL,
    end_date date NOT NULL,
    guests integer DEFAULT 1,
    total_price numeric(10,2) NOT NULL,
    status character varying(50) DEFAULT 'pending'::character varying,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.reservations OWNER TO etnair_user;

--
-- Name: reviews; Type: TABLE; Schema: public; Owner: etnair_user
--

CREATE TABLE public.reviews (
    id integer NOT NULL,
    rental_id integer NOT NULL,
    user_id integer NOT NULL,
    rating integer NOT NULL,
    comment text,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.reviews OWNER TO etnair_user;

--
-- Name: roles; Type: TABLE; Schema: public; Owner: etnair_user
--

CREATE TABLE public.roles (
    id integer NOT NULL,
    name character varying(50) NOT NULL
);


ALTER TABLE public.roles OWNER TO etnair_user;

--
-- Name: sessions; Type: TABLE; Schema: public; Owner: etnair_user
--

CREATE TABLE public.sessions (
    id integer NOT NULL,
    user_id integer NOT NULL,
    token character varying(500) NOT NULL,
    expires_at timestamp without time zone NOT NULL,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.sessions OWNER TO etnair_user;

--
-- Name: support_tickets; Type: TABLE; Schema: public; Owner: etnair_user
--

CREATE TABLE public.support_tickets (
    id integer NOT NULL,
    user_id integer NOT NULL,
    subject character varying(255) NOT NULL,
    message text NOT NULL,
    status character varying(50) DEFAULT 'open'::character varying,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.support_tickets OWNER TO etnair_user;

--
-- Name: user_verifications; Type: TABLE; Schema: public; Owner: etnair_user
--

CREATE TABLE public.user_verifications (
    id integer NOT NULL,
    user_id integer NOT NULL,
    verified_email boolean DEFAULT false,
    verified_phone boolean DEFAULT false,
    verified_id boolean DEFAULT false,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.user_verifications OWNER TO etnair_user;

--
-- Name: users; Type: TABLE; Schema: public; Owner: etnair_user
--

CREATE TABLE public.users (
    id integer NOT NULL,
    first_name character varying(100) NOT NULL,
    last_name character varying(100) NOT NULL,
    email character varying(255) NOT NULL,
    phone character varying(30) NOT NULL,
    username character varying(30) NOT NULL,
    password_hash character varying(255) NOT NULL,
    profile_picture character varying(500),
    bio text,
    role_id integer NOT NULL,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone
);


ALTER TABLE public.users OWNER TO etnair_user;

--
-- Data for Name: addresses; Type: TABLE DATA; Schema: public; Owner: etnair_user
--

COPY public.addresses (id, street, city, postal_code, country) FROM stdin;
\.


--
-- Data for Name: audit_logs; Type: TABLE DATA; Schema: public; Owner: etnair_user
--

COPY public.audit_logs (id, user_id, action, details, created_at) FROM stdin;
\.


--
-- Data for Name: favorites; Type: TABLE DATA; Schema: public; Owner: etnair_user
--

COPY public.favorites (id, user_id, rental_id) FROM stdin;
\.


--
-- Data for Name: invoices; Type: TABLE DATA; Schema: public; Owner: etnair_user
--

COPY public.invoices (id, reservation_id, pdf_url, created_at) FROM stdin;
\.


--
-- Data for Name: login_attempts; Type: TABLE DATA; Schema: public; Owner: etnair_user
--

COPY public.login_attempts (id, user_id, ip_address, success, created_at) FROM stdin;
\.


--
-- Data for Name: messages; Type: TABLE DATA; Schema: public; Owner: etnair_user
--

COPY public.messages (id, sender_id, receiver_id, rental_id, content, created_at) FROM stdin;
\.


--
-- Data for Name: notifications; Type: TABLE DATA; Schema: public; Owner: etnair_user
--

COPY public.notifications (id, user_id, content, is_read, created_at) FROM stdin;
\.


--
-- Data for Name: payments; Type: TABLE DATA; Schema: public; Owner: etnair_user
--

COPY public.payments (id, reservation_id, amount, method, status, created_at) FROM stdin;
\.


--
-- Data for Name: rental_calendar; Type: TABLE DATA; Schema: public; Owner: etnair_user
--

COPY public.rental_calendar (id, rental_id, date, is_available) FROM stdin;
\.


--
-- Data for Name: rental_images; Type: TABLE DATA; Schema: public; Owner: etnair_user
--

COPY public.rental_images (id, rental_id, image_url, created_at) FROM stdin;
\.


--
-- Data for Name: rentals; Type: TABLE DATA; Schema: public; Owner: etnair_user
--

COPY public.rentals (id, owner_id, address_id, title, description, price_per_night, cleaning_fee, max_guests, rules, created_at) FROM stdin;
\.


--
-- Data for Name: reservations; Type: TABLE DATA; Schema: public; Owner: etnair_user
--

COPY public.reservations (id, rental_id, tenant_id, start_date, end_date, guests, total_price, status, created_at) FROM stdin;
\.


--
-- Data for Name: reviews; Type: TABLE DATA; Schema: public; Owner: etnair_user
--

COPY public.reviews (id, rental_id, user_id, rating, comment, created_at) FROM stdin;
\.


--
-- Data for Name: roles; Type: TABLE DATA; Schema: public; Owner: etnair_user
--

COPY public.roles (id, name) FROM stdin;
\.


--
-- Data for Name: sessions; Type: TABLE DATA; Schema: public; Owner: etnair_user
--

COPY public.sessions (id, user_id, token, expires_at, created_at) FROM stdin;
\.


--
-- Data for Name: support_tickets; Type: TABLE DATA; Schema: public; Owner: etnair_user
--

COPY public.support_tickets (id, user_id, subject, message, status, created_at) FROM stdin;
\.


--
-- Data for Name: user_verifications; Type: TABLE DATA; Schema: public; Owner: etnair_user
--

COPY public.user_verifications (id, user_id, verified_email, verified_phone, verified_id, created_at) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: etnair_user
--

COPY public.users (id, first_name, last_name, email, phone, username, password_hash, profile_picture, bio, role_id, created_at, updated_at) FROM stdin;
\.


--
-- Name: addresses addresses_pkey; Type: CONSTRAINT; Schema: public; Owner: etnair_user
--

ALTER TABLE ONLY public.addresses
    ADD CONSTRAINT addresses_pkey PRIMARY KEY (id);


--
-- Name: audit_logs audit_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: etnair_user
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_pkey PRIMARY KEY (id);


--
-- Name: favorites favorites_pkey; Type: CONSTRAINT; Schema: public; Owner: etnair_user
--

ALTER TABLE ONLY public.favorites
    ADD CONSTRAINT favorites_pkey PRIMARY KEY (id);


--
-- Name: invoices invoices_pkey; Type: CONSTRAINT; Schema: public; Owner: etnair_user
--

ALTER TABLE ONLY public.invoices
    ADD CONSTRAINT invoices_pkey PRIMARY KEY (id);


--
-- Name: login_attempts login_attempts_pkey; Type: CONSTRAINT; Schema: public; Owner: etnair_user
--

ALTER TABLE ONLY public.login_attempts
    ADD CONSTRAINT login_attempts_pkey PRIMARY KEY (id);


--
-- Name: messages messages_pkey; Type: CONSTRAINT; Schema: public; Owner: etnair_user
--

ALTER TABLE ONLY public.messages
    ADD CONSTRAINT messages_pkey PRIMARY KEY (id);


--
-- Name: notifications notifications_pkey; Type: CONSTRAINT; Schema: public; Owner: etnair_user
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_pkey PRIMARY KEY (id);


--
-- Name: payments payments_pkey; Type: CONSTRAINT; Schema: public; Owner: etnair_user
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT payments_pkey PRIMARY KEY (id);


--
-- Name: rental_calendar rental_calendar_pkey; Type: CONSTRAINT; Schema: public; Owner: etnair_user
--

ALTER TABLE ONLY public.rental_calendar
    ADD CONSTRAINT rental_calendar_pkey PRIMARY KEY (id);


--
-- Name: rental_images rental_images_pkey; Type: CONSTRAINT; Schema: public; Owner: etnair_user
--

ALTER TABLE ONLY public.rental_images
    ADD CONSTRAINT rental_images_pkey PRIMARY KEY (id);


--
-- Name: rentals rentals_pkey; Type: CONSTRAINT; Schema: public; Owner: etnair_user
--

ALTER TABLE ONLY public.rentals
    ADD CONSTRAINT rentals_pkey PRIMARY KEY (id);


--
-- Name: reservations reservations_pkey; Type: CONSTRAINT; Schema: public; Owner: etnair_user
--

ALTER TABLE ONLY public.reservations
    ADD CONSTRAINT reservations_pkey PRIMARY KEY (id);


--
-- Name: reviews reviews_pkey; Type: CONSTRAINT; Schema: public; Owner: etnair_user
--

ALTER TABLE ONLY public.reviews
    ADD CONSTRAINT reviews_pkey PRIMARY KEY (id);


--
-- Name: roles roles_name_key; Type: CONSTRAINT; Schema: public; Owner: etnair_user
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_name_key UNIQUE (name);


--
-- Name: roles roles_pkey; Type: CONSTRAINT; Schema: public; Owner: etnair_user
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_pkey PRIMARY KEY (id);


--
-- Name: sessions sessions_pkey; Type: CONSTRAINT; Schema: public; Owner: etnair_user
--

ALTER TABLE ONLY public.sessions
    ADD CONSTRAINT sessions_pkey PRIMARY KEY (id);


--
-- Name: support_tickets support_tickets_pkey; Type: CONSTRAINT; Schema: public; Owner: etnair_user
--

ALTER TABLE ONLY public.support_tickets
    ADD CONSTRAINT support_tickets_pkey PRIMARY KEY (id);


--
-- Name: user_verifications user_verifications_pkey; Type: CONSTRAINT; Schema: public; Owner: etnair_user
--

ALTER TABLE ONLY public.user_verifications
    ADD CONSTRAINT user_verifications_pkey PRIMARY KEY (id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: etnair_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_phone_key; Type: CONSTRAINT; Schema: public; Owner: etnair_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_phone_key UNIQUE (phone);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: etnair_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: users users_username_key; Type: CONSTRAINT; Schema: public; Owner: etnair_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_username_key UNIQUE (username);


--
-- Name: audit_logs audit_logs_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: etnair_user
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: favorites favorites_rental_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: etnair_user
--

ALTER TABLE ONLY public.favorites
    ADD CONSTRAINT favorites_rental_id_fkey FOREIGN KEY (rental_id) REFERENCES public.rentals(id);


--
-- Name: favorites favorites_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: etnair_user
--

ALTER TABLE ONLY public.favorites
    ADD CONSTRAINT favorites_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: invoices invoices_reservation_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: etnair_user
--

ALTER TABLE ONLY public.invoices
    ADD CONSTRAINT invoices_reservation_id_fkey FOREIGN KEY (reservation_id) REFERENCES public.reservations(id);


--
-- Name: login_attempts login_attempts_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: etnair_user
--

ALTER TABLE ONLY public.login_attempts
    ADD CONSTRAINT login_attempts_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: messages messages_receiver_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: etnair_user
--

ALTER TABLE ONLY public.messages
    ADD CONSTRAINT messages_receiver_id_fkey FOREIGN KEY (receiver_id) REFERENCES public.users(id);


--
-- Name: messages messages_rental_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: etnair_user
--

ALTER TABLE ONLY public.messages
    ADD CONSTRAINT messages_rental_id_fkey FOREIGN KEY (rental_id) REFERENCES public.rentals(id);


--
-- Name: messages messages_sender_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: etnair_user
--

ALTER TABLE ONLY public.messages
    ADD CONSTRAINT messages_sender_id_fkey FOREIGN KEY (sender_id) REFERENCES public.users(id);


--
-- Name: notifications notifications_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: etnair_user
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: payments payments_reservation_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: etnair_user
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT payments_reservation_id_fkey FOREIGN KEY (reservation_id) REFERENCES public.reservations(id);


--
-- Name: rental_calendar rental_calendar_rental_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: etnair_user
--

ALTER TABLE ONLY public.rental_calendar
    ADD CONSTRAINT rental_calendar_rental_id_fkey FOREIGN KEY (rental_id) REFERENCES public.rentals(id);


--
-- Name: rental_images rental_images_rental_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: etnair_user
--

ALTER TABLE ONLY public.rental_images
    ADD CONSTRAINT rental_images_rental_id_fkey FOREIGN KEY (rental_id) REFERENCES public.rentals(id);


--
-- Name: rentals rentals_address_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: etnair_user
--

ALTER TABLE ONLY public.rentals
    ADD CONSTRAINT rentals_address_id_fkey FOREIGN KEY (address_id) REFERENCES public.addresses(id);


--
-- Name: rentals rentals_owner_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: etnair_user
--

ALTER TABLE ONLY public.rentals
    ADD CONSTRAINT rentals_owner_id_fkey FOREIGN KEY (owner_id) REFERENCES public.users(id);


--
-- Name: reservations reservations_rental_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: etnair_user
--

ALTER TABLE ONLY public.reservations
    ADD CONSTRAINT reservations_rental_id_fkey FOREIGN KEY (rental_id) REFERENCES public.rentals(id);


--
-- Name: reservations reservations_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: etnair_user
--

ALTER TABLE ONLY public.reservations
    ADD CONSTRAINT reservations_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.users(id);


--
-- Name: reviews reviews_rental_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: etnair_user
--

ALTER TABLE ONLY public.reviews
    ADD CONSTRAINT reviews_rental_id_fkey FOREIGN KEY (rental_id) REFERENCES public.rentals(id);


--
-- Name: reviews reviews_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: etnair_user
--

ALTER TABLE ONLY public.reviews
    ADD CONSTRAINT reviews_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: sessions sessions_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: etnair_user
--

ALTER TABLE ONLY public.sessions
    ADD CONSTRAINT sessions_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: support_tickets support_tickets_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: etnair_user
--

ALTER TABLE ONLY public.support_tickets
    ADD CONSTRAINT support_tickets_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: user_verifications user_verifications_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: etnair_user
--

ALTER TABLE ONLY public.user_verifications
    ADD CONSTRAINT user_verifications_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: users users_role_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: etnair_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_role_id_fkey FOREIGN KEY (role_id) REFERENCES public.roles(id);


--
-- PostgreSQL database dump complete
--

\unrestrict vZlXtGbrsYperymPvk3Vh0fqeVnq6IV9mzcJKgAyX1Q0L2A8jB8L7Uqkvmd446F

